
#map {
    height: 90%;
    width: 50%;
    float: right;
    margin-right: 4%;
    margin-top: 9.2%;

  }
  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 90%;
    background: url("Officialbkgd.png") no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }